*{
    margin: 0;
    padding: 0;
}
body{
    height:99vh;
    width:100vw;
}
header{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content:space-between;
    background-color: black;
    align-items: center;
}

li{
    list-style:none;
}

.description{
    padding-left: 12rem;
    align-items:center;
}

.description span{
    color:white;
    font-size:2rem;
}

.title span{
    color:white;
    font-size:2rem;
}
.title{
    align-items:center;
}
.hamburguer svg{
    width: 3rem;
    height: 3rem;
    fill: white;
    padding-right: 12rem;
}
main{
    width: 100%;
    height: 90%;

}
.filter-bar{
    background-color: rgb(48, 48, 214);
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 5%;
    margin-top: 0.2%;
    margin-bottom: 0.2%;
    
}
.filter-bar svg{
 fill: white;
}

.introduced-content{
    width: 100%;
    height:94.6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: red;
    gap:1%;
}
.table{
    width: 55%;
    background-color: grey;
}

.table-registers{
    width:100%;
    height:100%;
    background-color:yellow;
    display:flex;
    flex-direction: column;
    align-items:left;
    padding-left:2%;
    gap:1rem;
}
.manage-table-data{
    background-color: red;
    display: flex;
    justify-content: flex-end;
}
.manage-table-data svg{
    width: 2rem;
    height: 2rem;
}

.table-register{
    
    background-color: green;
    width:60%;
    height:23%;
}

.add-something{
    width: 44%;
    background-color: blue;
}
.clean-save-addsomething-data{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 0.5rem;
}
.clean-save-addsomething-data svg{
    width: 2rem;
    height: 2rem;
}
form{
    background-color: white;
    display: flex;
    justify-content: space-between ;
    flex-wrap: wrap;
}
.form-element{

}
.form-element-label{

}
.form-element-input{

}
.form-element-input input{
    width: 20rem;
}
