$z-index-menu: 3000;
$z-index-modal-filter: 2000;


$primary-color: hsl(226, 63%, 45%);
$secondary-color: hsl(207, 85%, 69%);
$tertiary-color: (226, 64%, 66%);
$hover-color: hsl(34, 79%, 53%);

$font-family: 'Roboto', sans-serif;
